/* Same as theme: dark in Color.vue */
:root {
  --gray-100: 0 0% 3%;
  --gray-900: 0 0% 95%;
  --green-500: 126 78% 71%;
  --green-900: 126 78% 11%;
}
.debug > * {
  @apply border border-gray-900/10;
}

@font-face {
  font-family: "title-regular";
  src: url("./assets/fonts/title-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "title-medium";
  src: url("./assets/fonts/title-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mulish-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/mulish-regular.woff2") format("woff2");
}
@font-face {
  font-family: "cousine-regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/cousine-regular.woff2") format("woff2");
}
