/* Same as theme: dark in Color.vue */
:root {
  --white: 255 255 255;
  --gray-50: 250 250 250;
  --gray-100: 245 245 245;
  --gray-200: 229 229 229;
  --gray-300: 212 212 212;
  --gray-400: 163 163 163;
  --gray-500: 115 115 115;
  --gray-600: 82 82 82;
  --gray-700: 64 64 64;
  --gray-800: 38 38 38;
  --gray-900: 23 23 23;
  --black: 0 0 0;
  --breadboard-tile-size: 5vw;
}
.debug > * {
  @apply border border-red-500;
}
@font-face {
  font-family: "title";
  src: url("./assets/fonts/gthaptic-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "title";
  src: url("./assets/fonts/gthaptic-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "sans2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/dmsans-regular.woff2") format("woff2");
}
@font-face {
  font-family: "sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/neuehaas-regular.woff2") format("woff2");
}
@font-face {
  font-family: "mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/cousine-regular.woff2") format("woff2");
}

.page-enter-from {
  @apply opacity-0;
}

.page-enter-active,
.page-leave-active {
  @apply transition-all;
}
.page-enter,
.page-leave-to {
  @apply opacity-0;
}
